<form (ngSubmit)="atualizar()" id="form">
  <input id="nomeUsuario" name="nomeUsuario" type="text" [(ngModel)]="nomeUsuario" #name="ngModel" placeholder="Insira o nome"/>
  <input id="idadeUsuario" name="idadeUsuario" type="text" [(ngModel)]="idadeUsuario" #name="ngModel" placeholder="Insira a idade"/>
  <button type="submit" (click)="salvar()">
    Salvar
  </button>
  <button type="button" (click)="limpar()">
    Limpar
  </button>
</form>


<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Nome</th>
    <th scope="col">Idade</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let usuario of usuarios; index as i">
    <th scope="row">{{ usuario.idUsuario }}</th>
    <td>
      {{ usuario.nomeUsuario }}
    </td>
    <td>
      {{ usuario.idadeUsuario }}
    </td>
  </tr>
  </tbody>
</table>
